<div class="clickable-background hidden"></div>
<div class="wrap-login hidden">
  <div class="login-card">
    <h1 class="login-title">LOG IN</h1>
    <div class="login-form-container">
        <form class="login-form" action="">
          <input class="login-input" type="email" placeholder="email" name="uname" required>
          <input class="login-input" type="password" placeholder="contraseña" name="psw" required>
          <p class="register">¿Aún no te has registrado?<a href="" class="">Regístrate aquí</a> </p>

          <button type="submit" class="form-button submit btn btn-primary">Login</button>
          <label class="login-label">
            <button class=" form-button btn remember-me">Recordarme</button>
          </label>
        </form>
      </div>
  </div>
</div>
