<div class="phone-nav" role="navigation">
  <ul class="nav-menu">
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="fas fa-home"></i>
        <p class="icon-tit">Home</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="fas fa-random"></i>
        <p class="icon-tit">Al azar</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="fas fa-search"></i>
        <p class="icon-tit">Buscar</p>
      </a>
    </li>
    <li class="entrar-trigger nav-item">
      <a class="nav-link" href="">
        <i class="fas fa-user"></i>
        <p class="icon-tit">Entrar</p>
      </a>
    </li>
  </ul>
</div>
