header#header{
  position: fixed;
  top: 0;
  left:0;
  z-index: 20;
  background-color: $background-color;
  height: 70px;
  width: 100vw;
  text-align: left;
  margin-left: 0;
  padding: 10px;
  p.title{
    display: inline;
  }
  @media screen and (max-width: $break-small){
    top:0;
    // background-color: green;
    text-align: center;
    position: fixed;
    box-sizing: border-box;
    display:inline-block;
  }
}

svg.logo{
  height: 60px;
  padding-bottom: 10px;
}

.logo-path{
  fill:$white-back;
}

nav.top-menu{
  display: inline;
  position: relative;
  width: 200px;
  text-align: right;
  bottom: 25px;
  li.nav-item{
    margin: 0;
    width: 70px;
  }
  @media screen and (max-width: $break-small){
    display: none;
  }
}


p.title{
  font-size: 24px;
  font-weight: bold;
  color: $fonts-main;
}

div.sorting-bar{
  text-align: center;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  color: $fonts-primary;
}
