div.page{
  width: 96vw;
  overflow: hidden;
  position: absolute;
}

.page-first{
    background-color: green;
}

.page-second{
  background-color: red;
  left: 100%;
}

span.page-content{
  font-size: 300%;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
