div.page{
  position: absolute;
  width: 100vw;
}

.page-first{
  background-color: green;

}

.page-second{
  background-color: red;
  display: none;
  left: 100%;
}

span.page-content{
  position: relative;
  top: 50%;
  left:50%;
  font-size: 300%;
  font-weight: bold;
  transform: translate(-50% -50%);
}
