// POSTER
div.movie-detail-poster{
  height:100%;
}

img.detail-poster-img{
  width:100%;
  position: relative;

}

div.detail-poster-actions{
  background-color: rgba(10,10,10,0.8);
  position: absolute;
  width: 100%;
  height:100%;
  bottom: 0;
  right: 0;
}

div.detail-poster-actions-button-wrap{
  position: absolute;
  display: inline-block;
  bottom: 0;
  width: 100%;
  text-align: center;
  button{
    margin: 10px;
    height: 40px;
  }
}

h3.movie-rating{
  color: $fonts-primary;
  font-size: 1.18em;
  position: absolute;
  top: 10px;
  left: 50px;
  :first-child{
    padding-right: 10px;
    display: inline;
    font-size: 1.2em;
  }
}

// TITLE
h1.movie-detail-title{
  color: $fonts-primary;
  margin-left: 0px;
  font-size: 3em;
}

// GENRES
ul.genre-tag{
  margin-left: 0;
  font-weight: bold;
  li.genre-tag-li{
  display: inline;
  padding-right: 6px;
  }
  .genre-tag-a{
  padding: 1px 5px;
  font-weight: bold;
  }
}

//SINOPSIS
div.sinopsis{
  display: flex;
  flex-direction: row;
  
}
div.arrow-left, div.arrow-right{
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  :hover{
    color: $fonts-primary;
  }
}

div.movie-detail-row{
  max-width: 100%;
  overflow: hidden;
}
