div.phone-nav{
  @media screen and (min-width: $break-small){
    display: none;
  }
  position: fixed;
  width: 100vw;
  top: calc(100vh - 40px);
  left: 0;
  height: 40px;
  z-index: 1000;
  background-color: $background-color;
}

ul.nav-menu{
  list-style: none;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.nav-item{
  width: 20vw;
  display: inline-block;
}

p.icon-tit{
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
}

a.nav-link{
  text-align: center;
}
